<section id="island" class="mb-12">
    <h3 class="text-xl font-bold mb-2">Data Pulau</h3>
    <div class="overflow-x-auto bg-white rounded shadow">
        <table class="min-w-full text-sm text-left text-gray-700">
            <thead class="text-xs text-white uppercase bg-indigo-600">
                <tr>
                    <th class="px-4 py-2">ID</th>
                    <th class="px-4 py-2">Nama</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                {% for i in islands %}
                <tr>
                    <td class="px-4 py-2">{{ i.id }}</td>
                    <td class="px-4 py-2">{{ i.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>