{% extends 'base.html' %}
{% block title %}Daftar Soal{% endblock %}
{% block content %}
<h2>Daftar Soal</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Pertanyaan</th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
      <th>Jawaban</th>
      <th>Gambar</th>
    </tr>
  </thead>
  <tbody>
    {% for soal in soal_list %}
    <tr>
      <td>{{ soal.pertanyaan }}</td>
      <td>{{ soal.pilihan_a }}</td>
      <td>{{ soal.pilihan_b }}</td>
      <td>{{ soal.pilihan_c }}</td>
      <td>{{ soal.pilihan_d }}</td>
      <td>{{ soal.jawaban_benar }}</td>
      <td>
        {% if soal.gambar_path %}
          <img src="/{{ soal.gambar_path }}" width="100" />
        {% else %}
          Tidak ada
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
